body {
    font-family: "Lexend";
}

.h-heading {
    font-size: 2.2rem;

    font-weight: 700;
}

.h-heading span {
    color: #FF6000;
}

.h-bg-color {
    background-color: #FFF2E6;
}

.btn-order-now {
    background-color: #FF7B2B;
    border-color: #FF7B2B;
}

.btn-order-now:hover {
    background-color: #e97126;
    border-color: #e97126;
}

.btn-order-now:active {
    background-color: #ca6120 !important;
    border-color: #ca6120 !important;
}

.btn-track-order {
    border-color: #FF7B2B;
    color: #FF7B2B;
}

.btn-track-order:hover {
    border-color: #FF7B2B;
    background-color: #FF7B2B;
}

.btn-track-order:active {
    background-color: #ca6120 !important;
    border-color: #ca6120 !important;
}

.delivery-heading {
    font-size: 1.5rem;
    font-weight: 500;
}

.delivery-subheading {
    font-size: 0.9rem;
    color: #939393;
}

.h-spacing {
    padding-bottom: 10.5rem;
}

.indian-dish-space {
    margin-top: 10.5rem;
}

.indian-dish-subheading {
    font-size: 0.9rem;
    color: #B3B3B3;
}

.indian-dish-name {
    font-size: 1.3rem;
    font-weight: 500;
}

.indian-dish-link {
    text-decoration: none;
    color: #FF6000;
    font-size: 1.2rem;
}

.p-icons i{
    color: #ffc700;
}
.p-icons span{
    color: #939393;
}
.p-name{
    font-size: 1.2rem;
    font-weight: 500;
}
.p-name span{
    color: #FF6000;
}
.p-price{
    font-size: 2.0rem;
    font-weight: 500;
}
.p-button{
    font-size: 0.9rem;
}
.p-background{
    background-color: #FFEFE6;
    margin-top: 7rem;
}
.p-img-spacing{
    padding-top: 8rem;  
}
.col-spacing{
    padding-left: 4rem;
    padding-right: 4rem;
}
.p-background img{
    width: 70%;
    transform: translate(50%, -50%);
}
.search-icon{
    background-color: #FF6000;
    width: 40px;
    height: 40px;
    color: white;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

@media (min-width : 576px) {

    .h-heading {
        font-size: 2.5rem;
    }

    .indian-dish-space {
        margin-top: 10rem;
    }
    .h-spacing {
        padding-bottom: 10rem;
    }
}

@media (min-width : 768px) {

    .h-heading {
        font-size: 2.7rem;
    }

    .indian-dish-space {
        margin-top: 10rem;
    }
    .h-spacing {
        padding-bottom: 9rem;
    }
}

@media (min-width : 992px) {

    .h-heading {
        font-size: 3rem;
        line-height: 1.2;
    }

    .indian-dish-space {
        margin-top: 6rem;
    }

    .h-spacing {
        padding-bottom: 6rem;
    }
}