:root{
    --text-color: white;
    --primary1:#FFAB53;
    --primary2:#FFD0A7;
    --bg-review-box:white;
    --review-box-text-color : #FF6947;

}



body{
    background: linear-gradient(70deg,var(--primary1),var(--primary2)) ;
    
}
.h-heading{
    color: var(--text-color);
    font-size: 4.3rem;
    font-weight: 700;
}
.h-subheading{
    color: var(--text-color);
    font-size: 1.3em;
    font-weight: 600;
}
.explore-div i{
    font-size: 3.5rem;
    color: var(--text-color);
}
.explore-div a{
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;
}
.explore-div button{
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--primary1);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top:0.7rem ;
    padding-bottom: 0.7rem;
}
.box-size{
    width: 250px;
    height: 110px;
    background-color: var(--bg-review-box);
    border-radius: 15px;
    z-index: 2;

    color: var(--review-box-text-color);
    font-size: 1.2rem;
    font-weight: 400;
}
.box-rotate{
    transform: rotate(8deg);
    opacity: 0.8;
}